.heading
{
font-family:verdana;
font-weight:bold;
text-align:center;
}
.p1
{
text-decoration:none;
color:black;
font-family:verdana;
font-size:18px;
}
.image
{
position:absolute;
top:40px;
left:400px;
width:500px;
height:100px;
}