body
{
background-image:url('/images/places.jpg');
background-size:cover;
}

.p1
{
font-family:verdana;
font-size:19px;
font-weight:bold;
margin-top:150px;
margin-left:390px;
}

.column
{
width:700px;
height:50px;
margin-top:20px;
margin-left:350px;
}

.button
{
color:white;
font-size:20px;
border:none;
border-radius:0.4;
background-color:#F39C12  ;
width:150px;
height:50px;
margin-top:45px;
margin-left:620px;
}

