#img
{
width:1370px;
height:650px;
filter:brightness(0.9) contrast(0.9) saturate(0.8);
margin-top:-10px;
}
body
{
margin:0;
overflow:hidden;
}
.detailed
{
width:800px;
height:500px;
position:fixed;
top:90px;
left:290px;
z-index:2;
background-color:black;
opacity:0.4;
border-radius:2%;
}
ul
{
list-style-type:none;
}
.text
{
font-size:25px;
color:white;
opacity:1;
padding-left:240px;
margin-top:20px;
}
.btnn
{
margin-left:550px;
width:180px;
height:55px;
color:white;
opacity:1
border-radius:5%;
}
#t
{
color:blue;
font-size:25px;
opacity:1;
}
