.head
{
font-family:verdana;
font-weight:bold;
text-align:center;
}
.divback
{
width:1345px;
height:300px;
}
.box
{
background-color:#0d0d0d;
opacity:0.80;
width:900px;
height:80px;
margin-left:240px;
margin-top:70px;
}
.inbox
{
font-family:verdana;
color:white;
opacity:1;
padding-top:20px;
padding-left:30px;
}