body
{
overflow:hidden;
margin:0px;
}
.right
{
margin-left:
}
#image
{
width:1370px;
height:660px;
position:absolute;
top:-2px;
}
#name
{
position:absolute;
top:350px;
left:0px;
height:500px;
width:1800px;
opacity:0.5;
background-color:black;
transform:skewX(100deg);
z-index:5;
}