.img
{
width:650px;
height:600px;
margin-top:-10px;
opacity:0.9;
}
.head
{
font-family:verdana;
font-weight:bold;
text-align:center;
}
.maindiv
{
opacity:0.8;
background-color:white;
width:650px;
height:120px;
position:fixed;
top:280px;
left:0px;
}
.box
{
width:400px;
height:30px;
margin-left:30px;
}
#btn
{
width:120px;
margin-left:25px;
}
