body
	{
		margin:0px;
	}
	.img2
    {
    	position:absolute;
    	top:1400px;
    	left:0px;
    	width:1370px;
    	height:400px;
    	z-index:-4;
    }
    #divs
    {
    	border-radius:50%;
    	height:35px;
    	width:35px;
    	position:absolute;
    	top:1900px;
    	left:320px;
        background-color:#262626;
    	opacity:0;
    	z-index:10;
    }
    #divs1
    {
    	border-radius:50%;
    	height:35px;
    	width:35px;
    	position:absolute;
    	top:1900px;
    	left:600px;
        background-color:#262626;
    	opacity:0;
    	z-index:10;
    }
    #divs2
    {
    	border-radius:50%;
    	height:35px;
    	width:35px;
    	position:absolute;
    	top:1900px;
    	left:850px;
        background-color:#262626;
    	opacity:0;
    	z-index:10;
    }
    #divs3
    {
    	border-radius:50%;
    	height:35px;
    	width:35px;
    	position:absolute;
    	top:1900px;
    	left:1000px;
        background-color:#262626;
    	opacity:0;
    	z-index:10;
    }
	#main
	{
		width:1370px;
		height:650px;
		position:absolute;
		left:0px;
		top:0px;
		filter:brightness(0.76) contrast(0.76) saturate(0.7);
		z-index:-3;
	}
	#main2
	{
		width:1370px;
		height:650px;
		position:absolute;
		left:0px;
		top:0px;
		filter:brightness(0.76) contrast(0.76) saturate(0.7);
		z-index:-2;
	}
	.div1
    {
    	animation-name:translate;
    	animation-duration:2s;
    	animation-fill-mode:forwards;
    }
    @keyframes translate{
    	0%{top:1900px;opacity:0;}
    	100%{top:1630px;opacity:1;}
    }
    .div2
    {
    	animation-name:translate2;
    	animation-duration:2s;
    	animation-fill-mode:forwards;
    }
    @keyframes translate2{
    	0%{top:1900px;opacity:0;}
    	100%{top:1530px;opacity:1;}
    }
    .div3
    {
    	animation-name:translate3;
    	animation-duration:2s;
    	animation-fill-mode:forwards;
    }
    @keyframes translate3{
    	0%{top:1900px;opacity:0;}
    	100%{top:1600px;opacity:1;}
    }
    .div4
    {
    	animation-name:translate4;
    	animation-duration:2s;
    	animation-fill-mode:forwards;
    }
    @keyframes translate4{
    	0%{top:1900px;opacity:0;}
    	100%{top:1480px;opacity:1;}
    }
    #seasondiv1
    {
    	position:absolute;
    	top:660px;
    	left:740px;
    	width:700px;
    	height:700px;
        background-color:#f2f2f2;
        opacity:0.6;
    	margin-top:-20px;

    }
     #div1
    {
        width:500px;
        height:500px;
        background-color:black;
        opacity:0.6;
        z-index:1;
        position:absolute;
        top:710px;
        margin-left:700px;
    }
     .images
    {
    	filter:saturate(0.9) contrast(0.9) brightness(0.9);
    	z-index:-1;
    	margin-top:-20px;
    	position:absolute;
    	top:660px;
    	left:0px;
    }
    .anim
    {
        animation-name:eg;
        animation-fill-mode:forwards;
        animation-duration:2s;
    }
    .anim2
    {
        animation-name:eg2;
        animation-fill-mode:forwards;
        animation-duration:2s;
    }
     @keyframes eg2{
        0%{margin-left:700px;}
        100%{margin-left:50px;}
    }
    
    @keyframes eg{
        0%{left:740px;}
        100%{left:0px;}
    }
    #texton
    {
    font-family:verdana;color:white;font-size:45px;position:absolute;top:300px;left:280px;
    }