.image1
{
margin-top:-10px;
margin-left:0px;
width:350px;
height:700px;
}
.container1
{
position:absolute;
top:60px;
left:500px;
height:700px;
}
.headings
{
font-size:23px;
font-family:verdana;
font-weight:bold;
}