
body
{
    background-image: url('/images/direction.gif');
}
h1
{
text-align:center;
}
.head2
{
text-align:center;
}
.opt

{
width:300px;
height:30px;
position:absolute;
top:230px;
left:540px;
}
.btnn
{
position:absolute;
top:280px;
left:630px;
}