.image
{
position:absolute;
top:60px;
left:-10px;
z-index:-1;
width:1400px;
height:530px;
}
body
{
overflow:hidden;
}
h3
{
text-align:center;
}
.para
{
text-align:center;
}
.button
{
position:absolute;
top:600px;
left:570px;
width:200px;
}

