body
{
	overflow-x:hidden
}
.container1
{
	position:absolute;
	top:100px;
	left:150px;
}
.container2
{
	position:absolute;
	top:100px;
	left:740px;
}
.container
{
	position:absolute;
	top:500px;
	left:120px;
}