<!doctype html>
<html>
<head>
<link href="/images/style2.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">TAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Travel And Piquency</a>
      </li>
    </ul>
  </div>
</nav>
<div class='container'>
<form method='post' action='/endpage'>
<br>
<h2>Card Details </h2><br>
Card Type: <br>
<select name="card">
<option value="Visa">Visa</option>
<option value="MaterCard">MasterCard</option>
</select>
<br><br>
Customer's name: <br>
<input type='text' name="cname" placeholder='Card holders name'><br><br>
Card Numbers: <br>
<input type="text" name="cardno" placeholder="xxxx xxxx xxxx xxxx"><br><br>
Expiry Date: <br>
<input type="text" name="date" placeholder="01-2015"><br><br>
Security code: <br>
<input type="text" name="code"><br><br>
Email: <br>
<input type="email" name="email" ><br><br>
<p><b>Ready to book?</b></p>
<input type="radio" name="check" value="I have read and understood....">I have read and understood....
<br><br>
<button type="submit" class="btn btn-success">Pay and send mail</a></button>
<br><br>
</form>
</div>
</body>
</html>