#img
{
width:1370px;
height:650px;
position:absolute;
top:-10px;
filter:brightness(0.89) contrast(0.89) saturate(0.8);
}
body
{
overflow:hidden;
margin:0px;
}
.maindiv
{
height:470px;
width:500px;
z-index:3;
border:1px solid black;
}