body
{
background-image:url('/images/blog.png');
background-size:cover;
background-repeat:no-repeat;
}
.header
{
text-align:center;
font-weight:bold;
font-size:40px;
}
.post
{
color:black;
text-decoration:none;
font-size:20px;
font-family:verdana;
}